body {
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.sub-main {
    font-size: 20px;
    text-align: center;
    color: #c28bef;
}

.container {
    background-color: #b575e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: auto;
    text-align: center;
    margin: 50px auto;
}

.search-box {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

#search-btn {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

#toggle-temp-unit {
    margin-top: 2px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#temperature, #weather-description, #city-name {
    font-size: 24px;
    color: yellow;
    font-weight: bold;
    margin-bottom: 5px;
}

.weather-info {
    background-color: black;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forecast h2 {
    text-align: center;
    color: white;
}

.forecast-days {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.day-card {
    background-color: #dcbef5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 150px;
    text-align: center;
}

.day-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.day-temperature {
    font-size: 1.5em;
    margin: 10px 0;
}

.day-humidity {
    color: #555;
}

.loader {
    text-align: center;
    color: white;
    font-size: 18px;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 20px;
    }
}
